- if @movies.present?
  .table-responsive
    %table.table.table-striped
      %thead
        %tr
          %th
          %th
          %th
          %th Storage ID
      %tbody
        - @movies.each do |movie|
          %tr
            %th.poster-image
              %img{src: movie.poster, alt: movie.title}
            %th
              = link_to movie.title, movie_path(movie)
              %br
              = "#{movie.year} (#{movie.length} mins)"
            %th= movie.plot
            %th= movie.storage_identifier
- else
  You don't have any movies yet.
