.page-header
  %h1 Search IMDB for a Movie to Add
.container-fluid
  = form_tag new_movie_path, method: :get do
    .row
      .col-md-12
        = text_field_tag :search, params[:search]
        = submit_tag "Search", name: nil, class: "btn btn-primary"

  - if @search_results
    %h3= "Results (#{@search_results.count})"
    .row
      .col-md-12.col-md-12
        .table-responsive
          %table.table.table-striped
            %thead
              %tr
                %th Title
                %th Storage ID
                %th
            %tbody
              - @search_results.each do |result|
                %tr
                  = form_for :movie, method: :post, url: movies_path do |f|
                    %td= result.title
                    %td
                      = f.text_field :storage_identifier
                      = f.hidden_field :imdb_search_id, value: result.id
                    %td
                      = f.submit "Add Movie", class: "btn btn-success"
