= link_to "Delete", movie_path(@movie), method: :delete
%p= "Storage ID: #{@movie.storage_identification}"
= link_to "Edit", edit_movie_path(@movie)
%h1= "Title: #{@movie.title}"
%p= "Company: #{@movie.company}"
%p Genres:
%ul
  - @movie.genres.each do |genre|
    %li= genre.name

%p= "Runtime: #{@movie.length} mins"

%p Cast:
%ul
  - @movie.characters.each do |character|
    %li= character

%p Directed by:
%ul
  - @movie.directors.each do |director|
    %li= director.name

%p= "Writers: #{@movie.writers.join(", ")}"

%p= "Plot Summary: #{@movie.plot_summary}"
